name: Release Shadowrocket Rules

on:
  schedule:
    # 每日8时开始
    - cron:  '0 23 * * *'

  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENSE'

  workflow_dispatch:

jobs:
  Release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Install requirements
        run: pip3 install -r requirements.txt

      - name: Build Rules
        run: |
          chmod +x ./factory/auto_build.sh
          ./factory/auto_build.sh

      - name: Update lazy rules
        run: |
          rm -f lazy.conf lazy_group.conf
          curl -O https://raw.githubusercontent.com/LOWERTOP/Shadowrocket/main/lazy.conf
          curl -O https://raw.githubusercontent.com/LOWERTOP/Shadowrocket/main/lazy_group.conf

      - name: Commit and push changes
        run: |
          git config user.name 'github-actions'
          git config user.email 'github-actions@users.noreply.github.com'
          git add -A
          git commit -m "Nightly build"
          git push origin main
